<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAPA_DATOS.Properties.Settings.ConnectionString" connectionString="Data Source=MCNT-78;Initial Catalog=cita;User ID=sa1;Password=Med1234;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>